body {
	margin: 0;
	font-family: 'NanumGothicBoldWeb';
	min-width:800px;
}

.top {
	width: 95%;
	height: 60px;
	background-color: #000000;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:2.5%;
	padding-right:2.5%;
	 	
}
.logo {
	width: 700px;
	height: 60px;
	float:left;
	color:#FFFFFF;
	background-color: #000000;
}

.logo .red {
	color:#FF0000;
	
}

.logo .project_name {
	width:200px;
	height:50px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}

.logo .project_name .project_en {
	width:100%;
	height:30px;
	padding:0;
	float:left;
	font-size:15pt;
	line-height: 30px;

}

.logo .project_name .project_kr {
	width:100%;
	height:20px;
	padding:0;
	float:none;
	font-size:7pt;
	line-height: 30px;

}

.logo .main_title {
	color:#FFFFFF;
	width:500px;
	height:60px;
	line-height:60px;
	float:left;
	font-size:24pt;

}

.facebook {
	
	float:right;
	height:50px;
	text-align:right;
	width:230px;
	padding: 5px 0;
}

.facebook .profile {
	display:none;
	float:left;
	text-align:right;
	margin-left:20px;
	height: 60px;
	
}
.facebook .user_name {
	float:none;
	height:25px;
	
}
.facebook .login_button {
	
	float:right;
	height:25px;
}

.top a {	
	color:#FFFFFF;
	text-decoration: none;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.description {
	height:250px;
	display:none;
	background-color: #FFFFFF;
	color:#262626;	
	padding:10px 10px;
	font-weight:bold;
}

.description p {
	
	text-align:center;
	font-size:20pt;
	
}

.description .notice {
	font-weight:normal;
	font-size:12pt;
	text-align:left;
	color:#A9A9A9;
}


.description ol {
	font-size:16pt;
	width:700px;
	margin:0 auto;
	list-style-type:decimal;	
	text-align:left;
}

.description li {
	margin-bottom:30px;
}
.description ul.result_message {
	list-style-type:none;
	font-size:16pt;
	width:700px;
	margin-top: 50px;
	
}

.description ul.result_message li {
	margin-bottom:5px;
}

.movies {
    width: 800px;
    margin: 0 auto;
    padding:0;
}

.recommend_movie {
	display:none;
	float:left;
	width: 350px;
	margin: 0;
	padding: 0;
}

.random_movie {
	display:none;
    float:right;
	width: 350px;
	margin: 0;
	padding: 0;
}


.versus {
	display:none;
	float:left;
	width:90px;
	height:450px;
	text-align:center;
	line-height:450px;
}

.versus h2 {
	font-size:20pt;
	color:#262626;
}

.recommend_movie .movie {
    display:none;
    float:left;
    width: 350px;
    height: 440px;
    
    background-color: #FFFFFF;
    
}

.recommend_movie .movie a {
	width: 100%;
	height: 100%;
	display: block;
	color:#FFFFFF;
	text-decoration: none;
}

.recommend_movie .movie a:hover {
	background-color:#FF0000;
}

.random_movie .movie {
    display:none;
    float:right;
    width: 350px;
    height: 440px;
   
    background-color: #FFFFFF;
}

.random_movie .movie a, a:link {
	width: 100%;
	height: 100%;
	display: block;
	color:#FFFFFF;
	text-decoration: none;
}

.random_movie .movie a:hover {
	background-color:#FF0000;
}

.movie_info {
    display:none;
	width: 330px;
	margin:0 auto;
}

.show_trailer {
	text-align: center;
	font-size:12pt;
	width:160px;
	height:30px;
	float:right;
	
	color:#FFFFFF;
	line-height:30px;
	background-color:#3C3C3C;
}

.show_trailer a {
	width: 100%;
	height: 100%;
	display: block;
	color:#FFFFFF;
	text-decoration: none;
}

.show_trailer a:hover {
	background-color:#FF0000;
}

.title {
	width:100%;
    height:40px;
    text-align: center;
    line-height:40px;
    float:left;
    font-size:14pt;
	background-color:#FFFFFF;
}

.movie_link {
	text-align: center;
	width:160px;
	
	height:30px;
	float:left;
	cursor:pointer;
	line-height:30px;
	background-color:#3C3C3C;
}

.movie_link a {
	width: 100%;
	height: 100%;
	display: block;
	color:#FFFFFF;
	text-decoration: none;
	font-size:12pt;
}

.movie_link a:hover {
	background-color:#FF0000;
}


.movies img.poster_img {    
    width: 330px;
    height: 420px;
    
    margin:10px;
    border:none;
}

.count_bar_bg {
    height: 50px;
    margin-bottom:30px;
}
.count_bar_default {
	width: 95%;
    height: 5px;
	background-color: #FF0000;
	padding-left:2.5%;
	padding-right:2.5%;
}

.count_bar {
	display:none;
	width: 95%;
    height: 45px;
	background-color: #FF0000;
	padding-left:2.5%;
	padding-right:2.5%;
		
}

.count {
	width: 770px;
	height:45px;
    font-size: 15pt;
	margin:0  auto;
	text-align:center;
	color:#393939;
	line-height: 40px;
}

.start {
	margin: 100px auto;
	width:300px;
	height:80px;
	display:none;
	background-color: #3C3C3C;
	color:#FFFFFF;
	text-align:center;
	line-height: 80px;
}

.end {
	display:none;
	margin: 100px auto;
	width:300px;
	height:80px;
	background-color: #3C3C3C;
	color:#FFFFFF;
	font-size:20pt;
	text-align:center;
	line-height: 80px;
}

.start a {
	font-size:20pt;

	width: 100%;
	height: 100%;
	display: block;
	color:#FFFFFF;
	text-decoration: none;
}

.start a:hover {
	background-color:#FF0000;
}


.end a {
	font-size:20pt;

	width: 100%;
	height: 100%;
	display: block;
	color:#FFFFFF;
	text-decoration: none;
}

.end a:hover {
	background-color:#FF0000;
}

.finish {
	color:#262626;
	font-size:30pt;
	text-align:center;
	line-height: 450px
}

.trailer {
	top:80px;
	position:absolute;
	margin:0 auto;
	background:#333333;
	opacity:0.8;
  	filter:alpha(opacity=80); /* For IE8 and earlier */
	text-align:center;
	padding-top:100px;
	
}
.youtube {
	margin: 0 auto;	
}

.close_trailer {
	color:#FFFFFF;
	cursor:pointer;
	display:none;
}

.viewRandomLoading {
    
    display:none;
    float:right;
    width: 350px;
    height: 440px;
    margin:0 auto;
    background-color: #FFFFFF;
  	
  	    /*filter: alpha(opacity=60);
    opacity: alpha*0.6;*/
}

.movies img.loader {
	width:30px;
	height:30px;
	margin:205px 160px;
}

.viewRecommendLoading {
    
    display:none;
    float:left;
    width: 350px;
    height: 440px;
    
    background-color: #FFFFFF;
}