body {
	margin: 0;
	font-family: 'Raleway', cursive, 'NanumGothicWeb';
	background-color: #CCBF82;
	min-width:1000px;
}

.top {
	width: 95%;
	height: 60px;
	background-color: #170409;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:2.5%;
	padding-right:2.5%;
	 	
}
.logo {
	height: 60px;
	float:left;
	color:#FFFFFF;
	font-size:25pt;
	font-family: 'Nothing You Could Do', cursive;
	background-color: #170409;
	line-height: 60px;
}

.logo .pick {
	color:#E33258;
	
}
.facebook {
	
	float:right;
	
	font-family: 'Nothing You Could Do', cursive;
	
	height:50px;
	text-align:right;
	width:220px;
	padding: 5px 0;
}

.facebook .profile {
	display:none;
	float:left;
	text-align:right;
	margin-left:10px;
	height: 60px;
	
}
.facebook .user_name {
	float:none;
	height:25px;
}
.facebook .login_button {
	
	float:right;
	height:25px;
}

.top a {
	
	color:#FFFFFF;
}

.container {
    width: 770px;
    margin: 0 auto;
}

.description {
	height:450px;
	display:none;
	background-color: #333333;
    -moz-border-radius: 40px;
	border-radius: 40px;
	color:#FFFFFF;
	font-size:20pt;
	text-align:center;
}

.movies {
    width: 770px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding:0;
}

.recommend_movie {
	display:none;
	float:left;
	width: 350px;
	height: 500px;
	margin: 0;
	padding: 0;
}

.random_movie {
	display:none;
    float:right;
	width: 350px;
	height: 500px;
	margin: 0;
	padding: 0;
}


.versus {
	display:none;
	float:left;
	width:70px;
	height:450px;
	text-align:center;
	line-height:450px;
	
}

.versus h2 {
	font-size:20pt;	
}

.recommend_movie .movie {
    display:none;
    float:left;
    width: 350px;
    height: 500px;
    
    background-color: #cecece;
    -moz-border-radius: 15px;
	border-radius: 15px;
}

.recommend_movie .movie:hover {
	background-color: #E33258;	
}
.random_movie .movie:hover {
	background-color: #E33258;
}

.random_movie .movie {
    display:none;
    float:right;
    width: 350px;
    height: 500px;
   
    background-color: #cecece;
    -moz-border-radius: 15px;
	border-radius: 15px;
}

.show_trailer {
	
	font-size:10pt;
	height:50px;
	float:right;
	cursor:pointer;
	color:#000000;
	line-height:50px;
	margin-right:10px;	
}

.title {
	width:70%;
    height:50px;
    text-overflow: clip;
    text-align: left;
    float:left;
    line-height:50px;
	margin-left:10px;
}

.title a {
	color:#000000;
	font-size:12pt;
	vertical-align: bottom;
}

.movies img {
    
    width: 330px;
    height: 420px;
    border:dashed 0.1px;
    margin-left:10px;
    cursor:pointer;
}

.count_bar_bg {
       
    width: 100%;
    height: 50px;
    margin-bottom:30px;
    
}

.count_bar {
	display:none;
	width: 100%;
    height: 50px;
    margin:0 auto;
	background-color: #B8AF03;
	float:left;
		
}

.count {
	width: 770px;
	height:50px;
    font-size: 15pt;
	margin:0  auto;
	text-align:center;
	font-family: 'Raleway', cursive;
	color:#000000;
	line-height: 50px;
	
}

.start {
	font-family: 'Nothing You Could Do', cursive;
	margin: 100px auto;
	width:400px;
	height:300px;
	display:none;
	background-color: #67917A;
    -moz-border-radius: 40px;
	border-radius: 40px;
	color:#FFFFFF;
	font-size:30pt;
	text-align:center;
	cursor:pointer;
	line-height: 300px;
}

.start:hover {
	background-color:#E33258;
	cursor:pointer;	
}

.trailer {
	top:80px;
	position:absolute;
	margin:0 auto;
	background:#333333;
	opacity:0.8;
  	filter:alpha(opacity=80); /* For IE8 and earlier */
	text-align:center;
	padding-top:100px;
}
.youtube {
	margin: 0 auto;	
}

.close_trailer {
	color:#FFFFFF;
	cursor:pointer;
	display:none;
}

.viewRandomLoading {
    
    width:300px;
    height:450px;
    display:none;
    float:right;
    background-color: #CCBF82;
    line-height: 450px;
    text-align:center;
     /*filter: alpha(opacity=60);
    opacity: alpha*0.6;*/
}


.viewRecommendLoading {
    
    width:300px;
    height:450px;
    display:none;
    float:left;
    background-color: #CCBF82;
    line-height: 450px;
    text-align:center;
}



