body {
	margin: 0;
	font-family: 'NanumGothicWeb';
	min-width:1000px;
}

.top {
	width: 95%;
	height: 60px;
	background-color: #000000;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:2.5%;
	padding-right:2.5%;
	 	
}
.logo {
	height: 60px;
	float:left;
	color:#FFFFFF;
	font-size:25pt;
	background-color: #000000;
	line-height: 60px;
}

.logo .pick {
	color:#FF0000;
	
}

.facebook {
	
	float:right;
	height:50px;
	text-align:right;
	width:220px;
	padding: 5px 0;
}

.facebook .profile {
	display:none;
	float:left;
	text-align:right;
	margin-left:10px;
	height: 60px;
	
}
.facebook .user_name {
	float:none;
	height:25px;
}
.facebook .login_button {
	
	float:right;
	height:25px;
}

.top a {	
	color:#FFFFFF;
}

.container {
    width: 770px;
    margin: 0 auto;
}

.description {
	height:430px;
	display:none;
	background-color: #FFFFFF;
	color:#262626;	
	padding:10px 10px;
		
}

.description p {
	
	text-align:center;
	font-size:25pt;
	
}

.description ol {
	font-size:20pt;
	width:550px;
	margin:0 auto;
	list-style-type:decimal;	
	text-align:left;
	line-height:50px;
}

.movies {
    width: 770px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding:0;
}

.recommend_movie {
	display:none;
	float:left;
	width: 350px;
	
	margin: 0;
	padding: 0;
}

.random_movie {
	display:none;
    float:right;
	width: 350px;
	
	margin: 0;
	padding: 0;
}


.versus {
	display:none;
	float:left;
	width:70px;
	height:450px;
	text-align:center;
	line-height:450px;
	
}

.versus h2 {
	font-size:20pt;
	color:#262626;
}

.recommend_movie .movie {
    display:none;
    float:left;
    width: 350px;
    height: 440px;
    
    background-color: #FFFFFF;
    
}

.recommend_movie .movie:hover {
	background-color: #FF0000;	
}
.random_movie .movie:hover {
	background-color: #FF0000;
}

.random_movie .movie {
    display:none;
    float:right;
    width: 350px;
    height: 440px;
   
    background-color: #FFFFFF;
}

.movie_info {
    display:none;

	width: 350px;

}

.show_trailer {
	text-align: center;
	font-size:12pt;
	width:160px;
	height:30px;
	float:right;
	margin-right:10px;
	cursor:pointer;
	color:#FFFFFF;
	line-height:30px;
	background-color:#3C3C3C;
}

.show_trailer:hover {
	background-color:#FF0000;
}

.title {
	width:100%;
    height:40px;
    text-align: center;
    line-height:40px;
    float:left;
    font-size:14pt;
	background-color:#FFFFFF;
}

.link a {
	color:#FFFFFF;
	font-size:12pt;
}

.link {
	text-align: center;
	width:160px;
	margin-left:10px;
	height:30px;
	float:left;
	cursor:pointer;
	color:#FFFFFF;
	line-height:30px;
	background-color:#3C3C3C;
}

.link:hover {
	background-color:#FF0000;
}


.movies img {
    
    width: 330px;
    height: 420px;
    
    margin:10px;
    cursor:pointer;
}

.count_bar_bg {
       
    width: 100%;
    height: 50px;
    margin-bottom:30px;
    
}
.count_bar_default {
	width: 100%;
    height: 5px;
	background-color: #FF0000;
}

.count_bar {
	display:none;
	width: 100%;
    height: 45px;
	background-color: #FF0000;
		
}

.count {
	width: 770px;
	height:45px;
    font-size: 15pt;
	margin:0  auto;
	text-align:center;
	color:#393939;
	line-height: 40px;
}

.start {
	margin: 100px auto;
	width:400px;
	height:300px;
	display:none;
	background-color: #3C3C3C;
	color:#FFFFFF;
	font-size:30pt;
	text-align:center;
	cursor:pointer;
	line-height: 300px;
}

.start:hover {
	background-color:#FF0000;
	cursor:pointer;	
}

.finish {
	color:#262626;
	font-size:30pt;
	text-align:center;
	line-height: 450px
}

.trailer {
	top:80px;
	position:absolute;
	margin:0 auto;
	background:#333333;
	opacity:0.8;
  	filter:alpha(opacity=80); /* For IE8 and earlier */
	text-align:center;
	padding-top:100px;
}
.youtube {
	margin: 0 auto;	
}

.close_trailer {
	color:#FFFFFF;
	cursor:pointer;
	display:none;
}

.viewRandomLoading {
    
    width:300px;
    height:450px;
    display:none;
    float:right;
    background-color: #FFFFFF;
    line-height: 450px;
    text-align:center;
     /*filter: alpha(opacity=60);
    opacity: alpha*0.6;*/
}


.viewRecommendLoading {
    
    width:300px;
    height:450px;
    display:none;
    float:left;
    background-color: #FFFFFF;
    line-height: 450px;
    text-align:center;
}



